<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "MaximusBoys BotList - Botlar";
document.title = title;
document.getElementById("botlar").classList.add('active');
</script>
<div class="container">

<h3 align="center" style="color:black">
    <strong>En İyi Botlar
    </strong></h3>
  <br>
 
  <div align="center">
    <input type="search" placeholder="Bot Ara" id="ara" name="ara">
    <br>
    <select id="etiketselect">
      <option disabled selected>Etiket Seç</option>
      <option value="Moderasyon">Moderasyon</option>
      <option value="Müzik">Müzik</option>
      <option value="Ayarlar">Ayarlar</option>
      <option value="Eğlence">Eğlence</option>
      <option value="Web Panel">Web Panel</option>
    </select>
    
  
    
  </div>
  <br><br><br>
    
      <div class="cards">
  
   <% if (bot.ayar.has('botlar')) { %>
 <% const sorted = Object.keys(bot.ayar.fetch('botlar')).sort((a, b) => { return (bot.ayar.fetch(`botlar.${b}.oy`) || 0) - (bot.ayar.fetch(`botlar.${a}.oy`) || 0) }) %>
  <% const top = sorted.splice(0, Object.keys(bot.ayar.fetch('botlar')).length) %>
  <% const map = top.map(x=>x) %>
	<% for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) { %>
  <% let idd = map[i] %>
   <% if(bot.ayar.has(`botlar.${idd}.durum`) === true) { %>
		<% if (bot.ayar.fetch(`botlar.${idd}.durum`) === "Onaylı") { %>
     <div class="card" style="width: 500px;margin-right: 10px;margin-bottom: 8px;">
    <div class="row no-gutters">
        <div class="col-md-5">
        <img data-toggle="tooltip" data-placement="bottom"  title="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" src="<%=bot.ayar.fetch(`botlar.${idd}.avatar`)%>" class="card-img-top h-100" style="border-radius: 50%;width: 180px;height: 180px !important;margin: 14px" alt="..." onerror="this.onerror=null;this.src='https://cdn.discordapp.com/attachments/415626207607128076/526891779992322078/sunucuicon.png'">
        </div>
        <div class="col-md-7">
            <div class="card-body">
        <h5 class="card-title"><%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></h5>
         <% if(bot.ayar.has(`botlar.${idd}.sertifika`) === true) { %>
       <a style="color:darkorange">Sertifikalı</a>
       <% } %>
        <h6 style="user-select:none;">Kütüphane: <%=bot.ayar.fetch(`botlar.${idd}.kutuphane`)%>| <span class="badge badge-secondary">OY: <%=bot.ayar.fetch(`botlar.${idd}.oy`)||0%></span></h6>
        <p class="card-text"><%=bot.ayar.fetch(`botlar.${idd}.kisaaciklama`)%></p>
        <p class="card-text"><a href="/bot/<%=idd%>"class="btn btn-primary" >Görüntüle</a>
        <a target="_blank" class="btn btn-primary" href="https://discordapp.com/oauth2/authorize?client_id=<%=idd%>&scope=bot&permissions=8">Davet Et</a></p>
            </div>
        </div>
    </div>
</div>
      <% } %>
    <% } %>
   <% } %>
   <% } else {%>
   <center><h5 style="color:red">
     Sistemde hiç bot bulunmuyor.
     </h5></center>
   <% } %>
   </div>

</div></div></div>

<script>
$(document).ready(function(){
 $("#ara").keyup(function(){
    var value = $(this).val().toLowerCase();
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  //etiket filtresi
  $("#etiketselect").change(function(){
    var value = $(this).val();
    if (value === 'noneFilter') {
      window.location.reload(true);
      return
    }
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function(){
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  })
  ;
});
</script>
  
<% include ./ek/footer %>